<?xml version="1.0" encoding="utf-8" ?>
<app>
  <ServerIp>127.0.0.1</ServerIp>
  <ServerPort>7777</ServerPort>
  <Device>0</Device>
  <CID>665731</CID>
  <UpDate>2012-12-1 0:00:00</UpDate>
  <UpUrl>http://10.3.1.19:8081/RF/</UpUrl>
  <UpExe>SCM.RF.Client.AutoUpdate.exe</UpExe>
  <SoundOK>\Resources\ok.wav</SoundOK>
  <SoundError>\Resources\error.wav</SoundError>
</app>